<launch>
    <!--- Run move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find navi)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navi)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navi)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find navi)/param/global_costmap_params.yaml" command="load" />
        <!-- <rosparam file="$(find navi)/param/move_base_params.yaml" command="load" /> -->
        <!-- <rosparam file="$(find navi)/param/dwa_local_planner_params.yaml" command="load" /> -->
        <!-- <rosparam file="$(find navi)/param/global_planner_params.yaml" command="load" /> -->

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="use_dijkstra" value="true"/>
        <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />

        <!-- <param name= "controller_frequency" value="10" type="double"/> -->
    </node>

    <remap from="cmd_vel" to="/fight_with_hair/robot_navi/vel"/>

</launch>
